.nav ul{
    margin: 7% 0%;
    list-style: none;
}

.nav li {

    display: inline;
    padding: 0px 20px;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 7% 0%;
    color: gray;
}

header {
    background-color: rgb(78, 78, 192);
}

.heroBackground {
    background-color: rgb(160, 174, 204);
}